.page {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #87CEEB, #00BFFF);
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.textBoxContainer {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
  z-index: 10;
}



.textBoxTitle {
  margin: 0 0 20px 0;
  color: #1a73e8;
}

.textInput {
  width: 100%;
  height: 300px; /* Increased height from 150px to 300px */
  border: 2px solid  #1a73e8;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.textInput:focus {
  outline: none;
  border-color: #4285f4;
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.4);
}

.submitButton {
  background-color: #ffe253;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #eab20a;
}

.cloud {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 100px;
  height: 60px;
  opacity: 0.8;
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cloud:before {
  top: -20px;
  left: 10px;
}

.cloud:after {
  top: -10px;
  right: 10px;
}

.leftHandSide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.flashcardPreview{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
  z-index: 10;
  height: 75.8%;
}